@{
    ViewBag.Title = "Home Page";
}

<style>
    .header {
        padding-bottom: 20px;
        margin: initial;
    }

    .row {
        margin: auto;
    }
</style>




<div class="header" allign="center">
    <img src="https://gsas.harvard.edu/sites/all/themes/gsas/logo.png" width="1140" height="200" class="img-responsive">
</div>



<div class="row">
    <img src="http://www.recentclip.com/wp-content/uploads/2015/12/o-HARVARD-UNIVERSITY-BUILDING-facebook.jpg" width="1140"  class="img-responsive">
</div>