@model Primary_School_Management_System___2.Models.Result

@{
    ViewBag.Title = "EnrollStudent";
}

<h2>Enroll Students</h2>
<br/>
<h4>Click the button below to enroll all student to the Subjects acording to their Class and Religion.</h4>

@Html.ActionLink("Enroll Students", "EnrollStudentPost","Student", new { @class="btn-block" }) 

@Html.ActionLink("Add Random Grade", "AddRandomGradeToSubjects", "Student")

