
@{
    ViewBag.Title = "Students";
}

<br />
<h2>Student List</h2>


<p>Select Class: @Html.DropDownList("SelectedClass", "Select Class")</p>

@* Sementic UI *@
<table id="studentsTable" class="ui celled table">
    @* Bootstrap *@
    @*<table id="studentsTable" class="table table-bordered table-striped">*@
    <thead>
        <tr>
            <th>RollNo</th>
            <th>Name</th>
            <th>Address</th>
            <th>FatherName</th>
            <th>MotherName</th>
            <th></th>
        </tr>
    </thead>
    
    <tfoot>
        <tr>
            <th>RollNo</th>
            <th>Name</th>
            <th>Address</th>
            <th>FatherName</th>
            <th>MotherName</th>
            <th></th>
        </tr>
    </tfoot>
</table>

@section stylesheet
{
    @* Normal dataTable *@
    @*<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />*@

    <!-- jQuery ThemeRoller -->
    @*<link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css" rel="stylesheet" />*@

    <!-- Semantic UI -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css" rel="stylesheet" />

    <!-- Bootstrap 4 -->
    @*<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@

}

@section scripts
{
    @* Normal DataTable *@
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


    @* Semantic UI*@
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>


    <script>
        $(document).ready(function () {

            

            $("#SelectedClass").change(function () {
                
                var classId = $(this).val();
                
                $("#studentsTable").DataTable().destroy();
                //$("#studentsTable").DataTable().clear();
                //$("#studentsTable").DataTable().clear().draw();
                //$("#studentsTable").DataTable().fnClearTable();;


                
                $("#studentsTable").DataTable(
                    {
                        "ajax": {
                            "url": "/Student/GetStudentList?clsID=" + classId,
                            "type": "GET",
                            "datatype": "json"
                        },

                        "columnDefs":
                        [{
                                "targets": [1],
                                "orderable": false
                            },
                            {
                                "targets": [2],
                                "orderable": false
                            },
                            {
                                "targets": [3],
                                "orderable": false
                            },
                            {
                                "targets": [4],
                                "orderable": false
                            },
                            {
                                "targets": [5],
                                "orderable": false
                            }],

                        "columns": [
                            { "data": "RollNo", "autoWidth": true  },
                            { "data": "Name", "autoWidth": true  },
                            { "data": "Address" , "autoWidth": true },
                            { "data": "FatherName" , "autoWidth": true },
                            { "data": "MotherName", "autoWidth": true  },
                            {
                                "render": function (data, type, full, meta) { return '<a class="btn btn-primary" href="/Student/Edit/' + full.ID + '">Edit</a> <a class="btn btn-info" href="/Student/Details/' + full.ID + '">Details</a>'; }

                            },

                        ]

                    });

            });

            

        });

    </script>
}

